<div class="flex primaryFilterRadius flex flex-col">
    <div class="text-primaryFontColor text-xs font-semibold pb-1" v-if='metadata.title'>{{ metadata.title }}</div>
    <div class="h-9 relative">
        <span class="z-10 font-normal text-center text-filterFontColor absolute right-6 top-1 rounded text-base items-center justify-center">
            <i class='text-sm fas fa-search'></i>
        </span>
        <input
            type="text"
            :placeholder="metadata.placeholder || 'Search'"
            class="h-full primaryFilterRadius w-full text-filterFontColor bg-filterBackgroundColor border border-filterBorderColor flex justify-around items-center pl-4 focus:outline-none"
            v-model='tableQuery'
            @input='search'
            @keyup='ifEscapePressed'
        />
    </div>
    <div 
        @mouseleave='tableRows = []'
        v-if='tableRows && tableRows.length'
        class="shadow-xl bg-filterBackgroundColor border-filterBorderColor border text-filterFontColor mt-2 rounded p-4 absolute left-0 top-12 z-50 max-w-60 max-h-48 overflow-auto">
        <div
            class="flex justify-between hover:bg-filterHighlightColor hover:text-filterFontHighlightColor p-1 cursor-pointer rounded"
            v-for='(row, index) in tableRows'
            @click='select(row)'
        >
            <div class="m-2" :id='"name-"+index' v-if='row.name'>{{ highlightText(row.name, "name-"+index) }}</div>
            <div class="m-2" :id='"location-"+index' v-if='row.location' >{{ highlightText(row.location, "location-"+index) }}</div>
        </div>
    </div>
</div>

<script type='visualization/javascript'>
export default {
    data: () => ({
        text: '',
        text_internal: null,
        tableRows: [],
        tableQuery: '',
        auto_height: true,
    }),
    methods: {
        search() {
            const text = this.tableQuery.toLowerCase();
            let data = [];
            if (text) {
                data = this.getDataFromColumn('names', 'locations', text) || [];
                if (data.length < 1) {
                    data = this.getDataFromColumn('locations', 'names', text);
                }
                if (data) {
                    data = data.filter(elem => typeof elem != 'undefined');
                    this.tableRows = data;
                }
            }
        },
        getDataFromColumn(column, secondColumn, text) {
            return this[column].map((name, index) => {
                name = name.toLowerCase();
                if (name.includes(text)) {
                    return {
                        name,
                        location: this[secondColumn][index],
                    }
                }
            });
        },
        highlightText(text, id) {
            const element = document.querySelector(`#${id}`);
            if (element) {
                const tableQuery = this.tableQuery.toLowerCase();
                if (tableQuery) {
                    const highlighted = text.toLowerCase().replace(tableQuery, `<span class="text-filterFontHighlightColor">${tableQuery}</span>`)
                    return element.innerHTML = highlighted;
                }
            }
            return text;
        },
        onVisualizationInit() {
            const initial_value = this.getFilterValue("selected");
            if (initial_value) {
                this.text_internal = initial_value;
                this.setFilterValue("selected", encodeURI(this.text_internal), true);
                return this.text_internal;
            }
        },
        select(row) {
            const selected = this.selected;
            this.selected = row.name;
            this.tableRows = [];
            this.tableQuery = '';
        },
        ifEscapePressed(e) {    
            if (e.keyCode === 27) {
                this.tableRows = [];
                this.tableQuery = '';
            }
        }
    },
    computed: {
        selected: {
            get() {
                return this.text_internal;
            },
            set(value) {
                this.text_internal = encodeURI(value);
                this.setFilterValue("selected", this.text_internal, true);
            }
        },
        names() {
            const column_name = this.findColumnByTag('names');
            if (column_name) return this.getColumn(column_name);
        },
        locations() {
            const column_name = this.findColumnByTag('locations');
            if (column_name) return this.getColumn(column_name);
        }
    }
}
</script>